/*+++++++++ TASKS +++++++++++
*
*   > paper ripple buttons
*   > checkbox mui
*   > 
*   > 
*/
/* line 12, /Applications/MAMP/htdocs/crawler2/css/index.scss */
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: #f7f7f7;
  position: relative; }

/* line 20, /Applications/MAMP/htdocs/crawler2/css/index.scss */
nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #1c97f2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-size: 20px;
  color: #fff;
  z-index: 100;
  height: 60px; }
  /* line 32, /Applications/MAMP/htdocs/crawler2/css/index.scss */
  nav .row {
    width: 100%;
    box-sizing: border-box;
    position: relative; }
  /* line 37, /Applications/MAMP/htdocs/crawler2/css/index.scss */
  nav .top {
    box-sizing: border-box; }
  /* line 40, /Applications/MAMP/htdocs/crawler2/css/index.scss */
  nav .inner {
    box-sizing: border-box;
    padding: 20px;
    position: relative; }
  /* line 45, /Applications/MAMP/htdocs/crawler2/css/index.scss */
  nav .inline {
    display: inline-block; }
  /* line 48, /Applications/MAMP/htdocs/crawler2/css/index.scss */
  nav .abs-block {
    position: absolute;
    top: 0;
    height: 100%;
    box-sizing: border-box;
    line-height: 33px;
    cursor: pointer; }
  /* line 56, /Applications/MAMP/htdocs/crawler2/css/index.scss */
  nav .logo {
    padding: 12px 12px 12px 30px;
    left: 0;
    height: 60px; }
    /* line 61, /Applications/MAMP/htdocs/crawler2/css/index.scss */
    nav .logo .vt {
      padding-left: 30px;
      background-image: url(../res/vt-logo-white-transparent.png);
      background-repeat: no-repeat;
      background-size: 20px 20px;
      background-position: 0 3px; }
  /* line 69, /Applications/MAMP/htdocs/crawler2/css/index.scss */
  nav .search {
    width: 50%;
    margin: auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 13px; }
    /* line 77, /Applications/MAMP/htdocs/crawler2/css/index.scss */
    nav .search input {
      padding: 10px;
      width: 100%;
      vertical-align: middle;
      border: 0;
      margin: 0;
      border-radius: 3px;
      opacity: 0.6;
      transition: all 0.3s ease;
      box-sizing: border-box; }
      /* line 88, /Applications/MAMP/htdocs/crawler2/css/index.scss */
      nav .search input:focus {
        opacity: 1;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.24); }
    /* line 94, /Applications/MAMP/htdocs/crawler2/css/index.scss */
    nav .search .fa-search {
      position: absolute;
      right: 10px;
      top: 5px;
      display: block;
      color: rgba(0, 0, 0, 0.27);
      transition: all 0.2s ease;
      cursor: pointer; }
      /* line 103, /Applications/MAMP/htdocs/crawler2/css/index.scss */
      nav .search .fa-search:active {
        opacity: 0.5; }
    /* line 107, /Applications/MAMP/htdocs/crawler2/css/index.scss */
    nav .search:hover .fa-search {
      color: #1c97f2; }
    /* line 110, /Applications/MAMP/htdocs/crawler2/css/index.scss */
    nav .search:hover input {
      opacity: 1;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.24); }
  /* line 116, /Applications/MAMP/htdocs/crawler2/css/index.scss */
  nav .name {
    padding: 12px 30px 12px 12px;
    right: 0;
    cursor: pointer;
    height: 60px; }
    /* line 122, /Applications/MAMP/htdocs/crawler2/css/index.scss */
    nav .name .fa-bars {
      margin-left: 20px;
      color: rgba(0, 0, 0, 0.27);
      margin-top: 3px;
      transition: all 0.2s ease; }
  /* line 129, /Applications/MAMP/htdocs/crawler2/css/index.scss */
  nav .name:hover .fa-bars {
    color: rgba(0, 0, 0, 0.6); }

/* line 134, /Applications/MAMP/htdocs/crawler2/css/index.scss */
.drop-sheet {
  display: none;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.28);
  position: fixed;
  top: 55px;
  z-index: 4;
  border-radius: 4px; }

/* line 144, /Applications/MAMP/htdocs/crawler2/css/index.scss */
.drop-search {
  right: 0;
  left: 0;
  margin: auto;
  height: 500px;
  width: 50%; }

/* line 151, /Applications/MAMP/htdocs/crawler2/css/index.scss */
.drop-name {
  right: 5px;
  background: #6d6d6d;
  padding-top: 5px; }
  /* line 156, /Applications/MAMP/htdocs/crawler2/css/index.scss */
  .drop-name div {
    color: #fff;
    padding: 20px;
    width: 200px;
    border-radius: 4px;
    cursor: pointer;
    color: #dbdbdb;
    transition: all 0.2s ease; }
    /* line 165, /Applications/MAMP/htdocs/crawler2/css/index.scss */
    .drop-name div:hover {
      background: #505050;
      color: #fff; }
    /* line 170, /Applications/MAMP/htdocs/crawler2/css/index.scss */
    .drop-name div .fa {
      margin-right: 20px;
      width: 16px; }

/* line 179, /Applications/MAMP/htdocs/crawler2/css/index.scss */
.main-menu {
  background: #3c3c3c;
  position: fixed;
  height: 100%;
  width: 200px;
  left: 0;
  top: 60px;
  box-shadow: inset -10px 0 50px rgba(0, 0, 0, 0.18);
  z-index: 3; }
  /* line 189, /Applications/MAMP/htdocs/crawler2/css/index.scss */
  .main-menu ul {
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0; }
    /* line 195, /Applications/MAMP/htdocs/crawler2/css/index.scss */
    .main-menu ul li.tooltip.tooltipstered.current a {
      background-color: #272727;
      cursor: default; }
    /* line 200, /Applications/MAMP/htdocs/crawler2/css/index.scss */
    .main-menu ul li {
      margin: 0;
      padding: 0;
      white-space: nowrap;
      overflow-x: hidden;
      border-bottom: 1px solid #767676;
      text-shadow: 0 1px 3px black; }
      /* line 208, /Applications/MAMP/htdocs/crawler2/css/index.scss */
      .main-menu ul li a, .main-menu ul li div {
        cursor: pointer;
        text-decoration: none;
        margin: 0;
        padding: 0;
        display: block;
        padding: 15px 20px;
        color: #fff;
        transition: all 0.2s ease; }
        /* line 218, /Applications/MAMP/htdocs/crawler2/css/index.scss */
        .main-menu ul li a:hover, .main-menu ul li div:hover {
          background-color: #575757; }
        /* line 221, /Applications/MAMP/htdocs/crawler2/css/index.scss */
        .main-menu ul li a .fa, .main-menu ul li div .fa {
          margin-right: 20px;
          width: 16px;
          text-align: center; }
      /* line 227, /Applications/MAMP/htdocs/crawler2/css/index.scss */
      .main-menu ul li .expand {
        display: none; }
  /* line 232, /Applications/MAMP/htdocs/crawler2/css/index.scss */
  .main-menu .footer {
    cursor: pointer;
    position: fixed;
    text-align: center;
    width: 200px;
    bottom: 0;
    left: 0;
    font-size: 12px;
    padding: 10px;
    box-sizing: border-box;
    color: #3c3c3c;
    text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.3), 0px -1px 0px rgba(0, 0, 0, 0.7); }

/* line 248, /Applications/MAMP/htdocs/crawler2/css/index.scss */
.main-content {
  position: absolute;
  right: 0;
  left: 200px;
  top: 60px;
  box-sizing: border-box;
  z-index: 2; }
  /* line 256, /Applications/MAMP/htdocs/crawler2/css/index.scss */
  .main-content #content > div {
    display: none;
    box-sizing: border-box; }
  /* line 261, /Applications/MAMP/htdocs/crawler2/css/index.scss */
  .main-content #content .current {
    display: block; }
  /* line 262, /Applications/MAMP/htdocs/crawler2/css/index.scss */
  .main-content #content #home.first {
    display: block; }
  /* line 264, /Applications/MAMP/htdocs/crawler2/css/index.scss */
  .main-content .tabs {
    box-sizing: border-box;
    height: 100%; }
    /* line 268, /Applications/MAMP/htdocs/crawler2/css/index.scss */
    .main-content .tabs .inner {
      position: relative; }
      /* line 271, /Applications/MAMP/htdocs/crawler2/css/index.scss */
      .main-content .tabs .inner .cell {
        margin: 20px;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
        box-sizing: border-box; }
        /* line 276, /Applications/MAMP/htdocs/crawler2/css/index.scss */
        .main-content .tabs .inner .cell .header {
          background-color: #e9e9e9;
          border-bottom: 1px solid #ccc;
          width: 100%;
          padding: 20px;
          box-sizing: border-box;
          color: #585858; }
          /* line 284, /Applications/MAMP/htdocs/crawler2/css/index.scss */
          .main-content .tabs .inner .cell .header h3 {
            margin: 0;
            padding: 0; }
        /* line 289, /Applications/MAMP/htdocs/crawler2/css/index.scss */
        .main-content .tabs .inner .cell .content {
          padding: 20px;
          box-sizing: border-box;
          background-color: #fff; }
        /* line 294, /Applications/MAMP/htdocs/crawler2/css/index.scss */
        .main-content .tabs .inner .cell .content-nopad {
          padding: 0; }

/* line 303, /Applications/MAMP/htdocs/crawler2/css/index.scss */
#saving-indicator {
  position: fixed;
  top: 80px;
  right: 20px;
  padding: 20px;
  background: #000;
  color: #fff;
  z-index: 99999;
  border-radius: 4px;
  border: 2px solid white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
  opacity: 0.7;
  box-sizing: border-box;
  display: none; }
  /* line 318, /Applications/MAMP/htdocs/crawler2/css/index.scss */
  #saving-indicator .text {
    vertical-align: middle;
    display: inline-block; }
  /* line 322, /Applications/MAMP/htdocs/crawler2/css/index.scss */
  #saving-indicator img {
    height: 20px;
    vertical-align: middle;
    margin-right: 15px;
    display: inline-block; }

/* line 330, /Applications/MAMP/htdocs/crawler2/css/index.scss */
.form-control {
  position: fixed;
  bottom: 0;
  right: 0; }
  /* line 335, /Applications/MAMP/htdocs/crawler2/css/index.scss */
  .form-control button {
    width: 55px;
    height: 55px;
    box-sizing: border-box;
    border-radius: 50px;
    margin: 20px;
    padding: 0;
    border: 0;
    display: block;
    margin-left: -4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease;
    cursor: pointer;
    position: relative; }
    /* line 350, /Applications/MAMP/htdocs/crawler2/css/index.scss */
    .form-control button:hover {
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4); }
    /* line 353, /Applications/MAMP/htdocs/crawler2/css/index.scss */
    .form-control button i {
      font-size: 22px;
      color: #fff; }
  /* line 358, /Applications/MAMP/htdocs/crawler2/css/index.scss */
  .form-control .save {
    background-color: #0f9d58; }
    /* line 361, /Applications/MAMP/htdocs/crawler2/css/index.scss */
    .form-control .save:active {
      background-color: #0f9d58; }
  /* line 365, /Applications/MAMP/htdocs/crawler2/css/index.scss */
  .form-control .cancel {
    background: #db4437; }

/********* TABS *****************/
/* line 380, /Applications/MAMP/htdocs/crawler2/css/index.scss */
#dashboard .mini-header {
  padding: 10px 20px; }
/* line 383, /Applications/MAMP/htdocs/crawler2/css/index.scss */
#dashboard #btn-notifs {
  cursor: pointer; }
/* line 387, /Applications/MAMP/htdocs/crawler2/css/index.scss */
#dashboard #btn-notifs:hover .notifications {
  color: #861515; }
/* line 391, /Applications/MAMP/htdocs/crawler2/css/index.scss */
#dashboard .notifications {
  color: grey;
  font-size: 17px; }
  /* line 394, /Applications/MAMP/htdocs/crawler2/css/index.scss */
  #dashboard .notifications i {
    margin-left: 15px;
    color: #861515; }
/* line 399, /Applications/MAMP/htdocs/crawler2/css/index.scss */
#dashboard #section-notifs {
  display: none;
  padding: 0; }
  /* line 403, /Applications/MAMP/htdocs/crawler2/css/index.scss */
  #dashboard #section-notifs ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  /* line 408, /Applications/MAMP/htdocs/crawler2/css/index.scss */
  #dashboard #section-notifs li {
    box-sizing: border-box;
    padding: 10px 20px;
    border-bottom: 1px solid #cecece;
    font-weight: 300;
    cursor: pointer;
    font-size: 14px;
    position: relative; }
    /* line 417, /Applications/MAMP/htdocs/crawler2/css/index.scss */
    #dashboard #section-notifs li .dismiss {
      color: #c6c6c6;
      opacity: 0;
      position: absolute;
      padding: 10px 20px;
      top: 0;
      right: 0;
      box-sizing: border-box; }
      /* line 426, /Applications/MAMP/htdocs/crawler2/css/index.scss */
      #dashboard #section-notifs li .dismiss .fa-times-circle {
        margin-left: 10px; }
    /* line 430, /Applications/MAMP/htdocs/crawler2/css/index.scss */
    #dashboard #section-notifs li .dismiss:hover {
      color: #464646; }
    /* line 433, /Applications/MAMP/htdocs/crawler2/css/index.scss */
    #dashboard #section-notifs li .fa.notif {
      margin-right: 15px;
      width: 20px;
      text-align: center; }
  /* line 439, /Applications/MAMP/htdocs/crawler2/css/index.scss */
  #dashboard #section-notifs li:nth-child(even) {
    background: #f7f7f7; }
  /* line 442, /Applications/MAMP/htdocs/crawler2/css/index.scss */
  #dashboard #section-notifs li:hover {
    background-color: #f9fbff; }
  /* line 445, /Applications/MAMP/htdocs/crawler2/css/index.scss */
  #dashboard #section-notifs li:hover .dismiss {
    opacity: 1; }
/* line 453, /Applications/MAMP/htdocs/crawler2/css/index.scss */
#dashboard .stat {
  text-align: center;
  font-weight: 300;
  font-size: 22px;
  margin: 10px 0;
  position: relative;
  overflow: visible; }
  /* line 461, /Applications/MAMP/htdocs/crawler2/css/index.scss */
  #dashboard .stat .figure {
    border-bottom: 1px solid white;
    display: inline-block;
    cursor: pointer;
    line-height: 1.5; }
    /* line 467, /Applications/MAMP/htdocs/crawler2/css/index.scss */
    #dashboard .stat .figure:hover {
      border-bottom: 1px dotted;
      color: #1874b7; }
  /* line 472, /Applications/MAMP/htdocs/crawler2/css/index.scss */
  #dashboard .stat i {
    margin-right: 10px; }
  /* line 475, /Applications/MAMP/htdocs/crawler2/css/index.scss */
  #dashboard .stat .num {
    margin-right: 10px; }
  /* line 478, /Applications/MAMP/htdocs/crawler2/css/index.scss */
  #dashboard .stat .triangle {
    position: absolute;
    bottom: -30px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-bottom: 10px solid #e3e3e3;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    z-index: 1; }
  /* line 490, /Applications/MAMP/htdocs/crawler2/css/index.scss */
  #dashboard .stat .triangle:after {
    position: absolute;
    top: 1px;
    right: 30px;
    width: 0;
    height: 0;
    border-bottom: 10px solid #fbfbfb;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    content: '';
    display: block;
    position: relative; }
/* line 503, /Applications/MAMP/htdocs/crawler2/css/index.scss */
#dashboard .stat-tabs {
  margin-top: 20px;
  height: 300px;
  background: #fbfbfb;
  position: relative;
  border: 1px solid #e3e3e3;
  overflow-y: auto;
  z-index: 0; }
  /* line 513, /Applications/MAMP/htdocs/crawler2/css/index.scss */
  #dashboard .stat-tabs .row {
    box-sizing: border-box;
    padding: 10px 20px;
    border-bottom: 1px solid #e6e6e6;
    font-weight: 300;
    cursor: pointer;
    font-size: 14px;
    position: relative; }
    /* line 522, /Applications/MAMP/htdocs/crawler2/css/index.scss */
    #dashboard .stat-tabs .row:hover {
      background-color: #f9fbff; }
    /* line 526, /Applications/MAMP/htdocs/crawler2/css/index.scss */
    #dashboard .stat-tabs .row .fa-file-o {
      margin-right: 20px;
      color: #939393; }
  /* line 531, /Applications/MAMP/htdocs/crawler2/css/index.scss */
  #dashboard .stat-tabs .row:hover .fa-file-o {
    color: #1c97f2; }
/* line 535, /Applications/MAMP/htdocs/crawler2/css/index.scss */
#dashboard .analytics {
  height: 130px;
  width: 100%;
  background-image: url(../res/analytics.jpg);
  background-size: cover; }

/* line 543, /Applications/MAMP/htdocs/crawler2/css/index.scss */
#profile .input-forms {
  padding-top: 20px; }

/********* RULES *****************/
/* line 560, /Applications/MAMP/htdocs/crawler2/css/index.scss */
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* line 569, /Applications/MAMP/htdocs/crawler2/css/index.scss */
.nohighlight {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none; }

/* line 576, /Applications/MAMP/htdocs/crawler2/css/index.scss */
input:focus, select:focus, textarea:focus, button:focus {
  outline: none; }

/* line 579, /Applications/MAMP/htdocs/crawler2/css/index.scss */
.desktop {
  display: block; }

/* line 582, /Applications/MAMP/htdocs/crawler2/css/index.scss */
.mobile {
  display: none; }

/* line 585, /Applications/MAMP/htdocs/crawler2/css/index.scss */
.right {
  float: right; }

/* line 588, /Applications/MAMP/htdocs/crawler2/css/index.scss */
.inline {
  display: inline-block; }

/* line 591, /Applications/MAMP/htdocs/crawler2/css/index.scss */
.col {
  display: inline-block;
  overflow: hidden;
  margin-bottom: -4px;
  margin-right: -4px;
  box-sizing: border-box; }

/* line 598, /Applications/MAMP/htdocs/crawler2/css/index.scss */
.col3 {
  width: 33%; }

/*# sourceMappingURL=index.css.map */